body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
  color: whitesmoke;
}
.hidden {
  z-index: 2;

  display: none;
}
#clearBtn {
  height: 30px;
  z-index: 2;
  border-radius: 10px;
  font-size: 20px;
}
#login-form {
  padding-top: 25px;
  z-index: 2;
}

#login-form input:first-child {
  border: none;

  height: 25px;
}

form input:last-child {
  display: inline-block;

  height: 25px;
  margin-left: 5px;
}
form input:first-child {
  display: inline-block;
  height: 19px;
}

#clock {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.1);
  height: 115px;
  color: whitesmoke;

  font-size: 6em;
}
#quote {
  z-index: 2;
  display: inline-block;
  position: absolute;
  top: 87%;
  width: 850px;
}
.color {
  background-color: rgba(0, 0, 0, 0.2);
}
#quote span:first-child {
  z-index: 2;
  font-size: 25px;

  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}

#quote span:last-child {
  z-index: 2;
  /* //background-color: turquoise; */
  font-size: 20px;
}
img {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
}

h1 {
  z-index: 2;
}

#todo-list {
  z-index: 2;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#todo-list span {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 900;
  padding-right: 25px;
}
#todo-form {
  z-index: 2;
}
@media (max-width: 600px) {
  #quote {
    z-index: 2;
    display: inline-block;
    position: absolute;
    top: 95%;
    width: 90vw;
    top: 80%;
  }
}
